@import "../../boot.css";

header{
    width: 100%;
    padding: 10px 0;
    background-color: var(--dark-blue);
    color: var(--white);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 28px;
    font-weight: normal;
}

header nav a{
    color: var(--white);
    text-decoration: none;
    margin-right: 10px;
}

header nav a:hover{
    text-decoration: underline;
}